---
// Importing necessary components
import HeroSectionAlt from "@/components/sections/landing/HeroSectionAlt.astro";
import CardProductCategory from "@/components/ui/cards/CardProductCategory.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import FeaturesStatsAlt from "@components/sections/features/FeaturesStatsAlt.astro";
import TestimonialsSectionAlt from "@components/sections/testimonials/TestimonialsSectionAlt.astro";
import PrimaryCTA from "@components/ui/buttons/PrimaryCTA.astro";
import { CONTACT, SITE } from "@data/constants";
import materials from "@data/materials.json";

const MAX_MATERIALS_DISPLAYED =8;

// Define variables for page content
const title: string = "Produtos";
const subTitle: string =
  "Descubra a durabilidade e a precisão dos materiais fornecidos por 'As Marcas Mais Famosas', ideais para profissionais e entusiastas. Cada produto é selecionado com rigor para oferecer o máximo desempenho e garantir que você tenha o material certo para cada etapa do seu projeto.";

const testimonials = [
  // Primeiro depoimento
  {
    content:
      " \"Desde que começamos a adquirir materiais de 'As Marcas Mais Famosas', a eficiência em nossas obras melhorou significativamente. A qualidade dos parafusos e tubos é incomparável. É inspirador trabalhar com uma empresa que entende as demandas diárias do setor.\" ",
    author: "Carlos Almeida",
    role: "Engenheiro Civil | Construtora Forte",
    avatarSrc:
      "https://images.unsplash.com/photo-1500648767791-00dcc994a43e?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
    avatarAlt: "Engenheiro civil sorrindo",
  },
  // Segundo depoimento
  {
    content:
      " \"Como designer de interiores, estou sempre em busca de materiais de alta qualidade que complementem meus projetos. A variedade de pregos e metais fornecidos por 'As Marcas Mais Famosas' transformou minha forma de trabalhar, oferecendo a combinação perfeita de qualidade e variedade. O atendimento ao cliente foi um diferencial incrível!\" ",
    author: "Ana Souza",
    role: "Designer de Interiores | Espaços Criativos",
    avatarSrc:
      "https://images.unsplash.com/photo-1544005313-94ddf0286df2?q=80&w=1376&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
    avatarAlt: "Designer de interiores trabalhando",
  },
  // Terceiro depoimento
  {
    content:
      " \"Sou carpinteiro profissional há mais de 15 anos e posso afirmar que os materiais de 'As Marcas Mais Famosas' são dos melhores que já usei. A resistência e a durabilidade dos metais são excepcionais, e o suporte prestado pela equipe faz toda a diferença no sucesso do meu trabalho.\" ",
    author: "Roberto Lima",
    role: "Carpinteiro | Madeiras Nobres",
    avatarSrc:
      "https://images.unsplash.com/photo-1474176857210-7287d38d27c6?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
    avatarAlt: "Carpinteiro com ferramentas de trabalho",
  },
];

const pageTitle: string = `Produtos | ${SITE.title}`;
---

<MainLayout
  title={pageTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": `${SITE.url}/produtos`,
    "url": `${SITE.url}/produtos`,
    "name": "Materiais de Construção | As Marcas Mais Famosas",
    "description": "Descubra a durabilidade e a precisão dos materiais de construção fornecidos por 'As Marcas Mais Famosas', ideais para profissionais e entusiastas.",
    "isPartOf": {
      "@type": "WebSite",
      "url": `${SITE.url}`,
      "name": "As Marcas Mais Famosas",
      "description": "Materiais de construção de alta qualidade para atender às necessidades do seu projeto."
    },
    "inLanguage": "pt-BR"
  }}
>
  <div
    class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
  >
    <div class="mb-4 flex items-center justify-between gap-8 sm:mb-8 md:mb-12">
      <div class="flex items-center gap-12">
        <h1
          class="text-balance text-2xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-4xl md:leading-tight"
        >
          {title}
        </h1>
        {
          subTitle && (
            <p class="hidden max-w-screen-sm text-pretty text-neutral-600 dark:text-neutral-400 md:block">
              {subTitle}
            </p>
          )
        }
      </div>
      <PrimaryCTA title="Ver Testemunhos" url="#testemunhos" noArrow={true} />
    </div>
    <!--Products-->
    <section>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
        {materials.map((category, i) => (
          <CardProductCategory
            category={category}
            index={i}
            maxMaterialsDisplayed={MAX_MATERIALS_DISPLAYED}
          />
        ))}
      </div>
    </section>
  </div>
  <!--Features statistics section-->
  <FeaturesStatsAlt
  title="Por que escolher a nossa empresa?"
  subTitle="Transforme suas ideias em resultados concretos com os materiais fornecidos por 'As Marcas Mais Famosas'. Seja começando com um simples esboço ou enfrentando um grande projeto de construção, nossos produtos são selecionados para garantir qualidade e confiança em cada etapa."
  benefits={[
    "Materiais robustos e confiáveis para desempenho duradouro.",
    "Soluções inovadoras adaptadas às necessidades modernas da construção.",
    "Suporte ao cliente dedicado ao sucesso do seu projeto.",
  ]}
/>
  <!--Testimonials section-->
  <TestimonialsSectionAlt
    title="Testemunhos"
    testimonials={testimonials}
  />

  <!-- Contact section -->
  <HeroSectionAlt
    title="Vamos Construir Juntos"
    subTitle="Encontre os melhores materiais e suporte especializado para transformar seus projetos em realidade."
    url={CONTACT.whatsApp}
    icon="whatsApp"
  />
</MainLayout>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const toggleButtons = document.querySelectorAll('[data-toggle-btn]');
    
    toggleButtons.forEach(button => {
      button.addEventListener('click', () => {
        const index = button.getAttribute('data-index');
        const container = document.getElementById(`list-container-${index}`);
        const gradient = container?.querySelector('.bg-gradient-to-t');
        const isExpanded = container?.classList.contains('max-h-[300px]');
        
        if (isExpanded) {
          container?.classList.remove('max-h-[300px]');
          container?.classList.add('max-h-none');
          button.textContent = 'Recolher';
          gradient?.classList.add('hidden');
        } else {
          container?.classList.add('max-h-[300px]');
          container?.classList.remove('max-h-none');
          button.textContent = 'Expandir';
          gradient?.classList.remove('hidden');
        }
      });
    });
  });
</script>